{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/wordle.css">
{% endblock %}

{% block body %}
    <a href="{{ path('main') }}">Zpátky</a>
    
    <div class="wrap">
        <div class="guesses">
            {% set count = 0 %}
            {% for g in guesses %}
            <div class="word">
                {% for l in g.guess|split('') %}
                    <div class="letter {{g.colors[loop.index0]}}">{{ l|capitalize }}</div>
                {% endfor %}
            </div>
            {% set count = loop.index %}
            {% endfor %}
        
            {% if count != 6 %}
                {% for i in 0..(5-count) %}
                    <div class="word">
                        {% for l in 0..4 %}
                           <div class="letter"></div>
                        {% endfor %}
                    </div>
                 {% endfor %}
            {% endif %}
        </div>
        
    </div>
    
    {% if status == 'playing' %}
        <form class="inputs" method="POST">
            <input type="text" name="guess" id="guess" maxlength="5" minlength="5" autofocus autocomplete="off">
            <input type="submit" name="submit" value="OK" id="submit">
        </form>
    {% elseif status == 'win' %}
        <p style="text-align:center; font-size: 30px;">Šikula :)</p>
    {% else %}
        <p style="text-align:center; font-size: 30px;">Bylo to <span style="font-weight: 700;">{{ word }}</span> debile</p>
    {% endif %}
{% endblock %}